[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
django-widget-tweaks = "*"
pillow = "*"
django-filter = "*"
gunicorn = "*"
django-bootstrap-form = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
