{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 mt-4">
        <div class="row z-depth-3">
            <div class="col-sm-4 rounded-left pro">
                <div class="card-block text-center text-white">
                    {% if object.profile.image %}
                        <img src="{{ object.profile.image.url }}" alt="user profile image">
                    {% else %}
                        <i class="fas fa-user-tie fa-7x mt-5"></i>
                    {% endif %}
                    <h2 class="font-weight-bold mt-4">{{ object.user.username }}</h2>
                </div>
            </div>
            <div class="col-sm-8 bg- rounded-right" id="myprofi">
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">First name</h4>
                        <p>{{ object.user.first_name }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Last name</h4>
                        <p>{{ object.user.last_name }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Birthday</h4>
                        <p>{{ object.profile.birth_date }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Country</h4>
                        <p>{{ object.profile.country }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Degree</h4>
                        <p>{{ object.profile.degree }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Speciality</h4>
                        <p>{{ object.profile.speciality }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Work place</h4>
                        <p>{{ object.profile.work_place }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">Web site</h4>
                        <p>{{ object.profile.web_site }}</p>
                    </div>
                </div>
                <h3 class="mt-3" id="personal">{% if object.profile.sexe == 'Male' %}His{% else %}Here{% endif %} Conferences</h3>
                {% for conference in object.conferences %}
                    <div class="row">
                        <div class="col">
                            <a style="color: white; text-decoration: underline" href="{% url 'conference' conference.pk %}">{{ conference.title }}</a>
                        </div>
                        <div class="col">
                            <p>{{ conference.date }}</p>
                        </div>
                    </div>
                {% endfor %}
                <h3 class="mt-3" id="personal">{% if object.profile.sexe == 'Male' %}His{% else %}Here{% endif %} Submissions</h3>
                {% for submission in object.submissions %}
                    <div class="row">
                        <div class="col">
                            <a style="color: white; text-decoration: underline" href="{% url 'conference' submission.conference.pk %}">{{ submission.conference.title }}</a>
                        </div>
                        <div class="col">
                            <p>{{ submission.conference.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
