footer {
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
.copy:hover{
    color: #ffa64d;
}