#container{
    background-color: #ccfff5;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    
}
#container:hover{
              
        box-shadow: -4px 9px 56px 0px rgba(0,0,0,0.75);
box-shadow: -4px 9px 56px 0px rgba(0,0,0,0.75);
box-shadow: -4px 9px 56px 0px rgba(0,0,0,0.75);


}
a.btn {
    border: 1px;
    margin: 20px auto;
    background:  linear-gradient(120deg,#2980b9,#8e44ad);
    text-align: center;
    border: 2px solid #5F5FB0;
    padding: 10px 40px;
    border-radius: 25px;
    outline: none;
    color: white;  
  transition: 0.20s;
    cursor: pointer;
    transition: 0.25s;
    font-family: cursive;
    outline: none;
}
a.btn:hover{
    color: white;
    font-weight: bold;
    background:   #ffa64d !important;
     transform: scale(1.1);
}
#conference{
    font-family: cursive;
    color:  #ff8000;
    
}
#date{
    font-family: fantasy;
    color: #5F5FB0;
}
#org{
    font-family: monospace;
    color: #5F5FB0;
}
