.notf {
    text-align: center;
    color: #ff8000;
    font-weight: bold;
    font-family: Serif;
}

.demand {
    font-family: serif;
    font-weight: bold;
    color: white !important;
}

.delete {
    color:  #ff3333;
    float: right;
    position: fixed;
}

.not-link {
    color: #ff8000;
    font-family: Serif;
}
