.notf{
    text-align: center;
    color: #ffa64d;
    font-weight: bold;
    
}
.demand{
    font-family: sans-serif;
    color: #5F5FB0;
    font-weight: bold;
}
#delete{
    color:  #ff3333;
    
}