#myprofi {
    background-color:  #2980b9c0;
}

#personal {
    font-weight: bold;
    color:  #ff8000;
    font-family: serif;
}

div h2, h4, p {
    font-family: Serif;
}

div h4 {
    color:  #ff8000;
    font-weight: bold;
}

div p {
    color: white;
}

#edit{
    color: white;
}

#hedit{
    color: white;
    font-weight: bold;
    font-family: cursive;
}

.pro {
    background-color: #2980b9f4;
    padding: 15px;
}

.pro img {
    width: 200px;
    height: 200px;
    border: solid 1px #2980b9;
    border-radius: 100px;
}
