aside {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 7%;
    left: 0;
    background-color: #2980b9;
    overflow-x: hidden;
    padding-top: 20px;
}

aside a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;

}

aside a:hover {
    color:#ffa64d ;
    font-weight: bold;
}

form.search button {
    background:#ffa64d;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div form input[type=text]{
    padding-left: 10px;
    border:1px solid #ffa64d;
    outline-color: #ffa64d ;
}
