{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="card text-center mt-4" style="margin: auto; width: 80%;">
        <form method="post" enctype="multipart/form-data">
            <div class="card-header" style="background-color: #0099cc; color: white;">
                <h1>Login</h1>
            </div>
            {% include 'includes/form.html' %}
            <div class="card-footer text-muted">
                <button class="btn btn-primary">Login</button>
            <div><a href="{% url 'password_reset' %}">forgot password ?</a></div>
            <div><a href="{% url 'register' %}">new user ?</a></div>
            <div><a href="{% url 'home' %}">Return home</a></div>
            </div>
        </form>
    </div>
{% endblock %}
