{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Login</h1>
        </div>
        <div class="card-body">
            {% include 'includes/form.html' %}
        </div>
        <div class="card-footer">
            <div><a href="{% url 'password_reset' %}">forgot password ?</a></div>
            <div><a href="{% url 'register' %}">new user ?</a></div>
            <div><a href="{% url 'home' %}">Return home</a></div>
        </div>
    </div>
{% endblock %}
