{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="card text-center mt-4" id="container">
        <form method="post" enctype="multipart/form-data">
            <div class="card-header" style="background-color: #2980b9; color: white;">
                <h1>Register</h1>
            </div>
            {% include 'includes/form.html' %}
            <div class="card-footer text-muted">
                <button class="btn btn-primary">Register</button>
                <div><a href="{% url 'login' %}">Already have an account ?</a></div>
                <div><a href="{% url 'home' %}">Return home</a></div>
            </div>
        </form>
    </div>
{% endblock %}
