<style>
.sidebar {
  height: 86.2%;
  width: 215px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background:  linear-gradient(120deg,#8e44ad,#2980b9);
  overflow-x: hidden;
  padding-top: 20px;
   
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
    
}

.sidebar a:hover {
  color:#ffa64d ;
    font-weight: bold;
}
 form.search button {
  background:#ffa64d;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  
    
}
    div form input[type=text]{
        padding-left: 10px;
        border:1px solid #ffa64d;
        outline-color: #ffa64d ;
      
    }
    </style>

<div class="sidebar">
    <form class="search" style="margin:auto;max-width:300px">
  <input class="input" type="text" placeholder="Search.." >
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

 <a href="{% url 'home' %}">Conferences</a>
  <a href="#"><i class="fas fa-info-circle"></i> About</a>
  <a href="#"><i class="fas fa-envelope-square"></i>  Contact</a>
</div>
