<nav class="navbar navbar-expand-lg navbar-light sticky-top" >
    <a href="{% url 'home' %}"id="home">Conference</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item ">
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item " >
                    <a href="{% url 'notifications' %}" class="nav-link "  >
                        <i class="fas fa-bell"></i> Notifications
                        {% if count_notifications %}
                            {{ count_notifications }}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'conference_create' %}" class="nav-link" >
                        <i class="far fa-plus-square"></i> Create Conference
                    </a>
                </li>
                <div class="dropdown" >
                    <li class="nav-item " >
                        <a href="#" class=" nav-link  dropdown-toggle"
                           role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            {{user.username}}
                        </a>
                        <ul class="navbar-nav ml-auto " >
                            <div class ="dropdown-menu dropdown-menu-right">
                                <li class="nav-item " >
                                    <a href="{% url 'profile' user.pk %}" class=" nav-link dropdown-item"   >
                                        <i class="fas fa-user-circle"></i> Profile
                                    </a>
                                </li>
                                <li class="nav-item "  >
                                    <a href="{% url 'password_change' %}" class=" nav-link dropdown-item "  >
                                        <i class="fas fa-lock"></i> Change Password
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                <li class="nav-item " >
                                    <a href="/admin" class="nav-link dropdown-item"  >
                                        <i class="fas fa-users-crown"></i> Admin Panel
                                    </a>
                                </li>
                                {% endif %}
                                <li class="nav-item" >
                                    <a href="{% url 'logout' %}" class=" nav-link dropdown-item" id="log" >
                                        <i class="fas fa-sign-out-alt"></i> Logout
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </div>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item" id="register-btn" data-toggle="modal" data-target="#modal">
                    <a href="{% url 'register' %}" class="nav-link">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>

