{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block content %}
    <div class="card text-center mt-4" id="container">
        <form method="post" enctype="multipart/form-data">
            <div class="card-header" style="background-color: #2980b9; color: white;">
                <h1>Reset Password</h1>
            </div>
            {% include 'includes/form.html' %}
            <div class="card-footer text-muted">
                <button class="btn btn-primary">Confirm</button>
                <div><a href="{% url 'home' %}">Return home</a></div>
            </div>
        </form>
    </div>
{% endblock %}
