{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ conference.title }}{% endblock %}

{% block content %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
    <table class="table table-bordered" id="table" align="center">
        <tr>
            <th>Title</th>
            <td>{{ conference.title }}</td>
        </tr>
        <tr >
            <th>Date</th>
            <td>{{ conference.date }}</td>
        </tr>
        <tr>
            <th>Submission deadline</th>
            <td>{{ conference.submission_deadline }}</td>
        </tr>
        <tr>
            <th>Confirmation deadline</th>
            <td>{{ conference.confirmation_deadline }}</td>
        </tr>
        <tr>
            <th>Payment deadline</th>
            <td>{{ conference.payment_deadline }}</td>
        </tr>
        <tr>
            <th>Price before deadline</th>
            <td>{{ conference.pre_price }}</td>
        </tr>
        <tr>
            <th>Price after deadline</th>
            <td>{{ conference.post_price }}</td>
        </tr>
        <tr>
            <th>place</th>
            <td>{{ conference.place }}</td>
        </tr>
    </table>
    <div class="card mb-3" id="container">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body text-center">
                    <h2 class="descreption"> Description</h2>
                    <pre style="color: white">{{ conference.description }}</pre>
                    {% if conference.organizer != request.user %}
                        {% if conference.can_submit %}
                            <a href="{% url 'submission_create' conference.pk %}" class="btn btn">Submit</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'conference_update' conference.pk %}" class="btn btn">Update</a>
                        <a href="{% url 'conference_delete' conference.pk %}" class="btn btn">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if request.user == conference.organizer and submission_list %}
        <table class="table table-bordered"  align="center" id="users"  >
            <tr>
                <th>username</th>
                <th>Article Name</th>
                <th>Abstract</th>
                <th>The Article</th>
                <th>request verification</th>
            </tr>
            {% for submission in submission_list %}
                <tr>
                    <td>{{ submission.user }}</td>
                    <td>{{ submission.article_name }}</td>
                    <td>{{ submission.abstract }}</td>
                    <td>
                        {% if submission.article %}
                            <a style="color:white; text-decoration: underline" href="{{ submission.article.url }}" download="{{ submission.article.url }}">Download {{ submission.article }}</a>
                        {% else %}
                            None Article
                        {% endif %}
                    </td>
                    <td>
                        {% if conference.can_submit %}
                            <a href="{% url 'submission_accepted' submission.pk %}" class="btn btn0 disabled">Accept</a>
                            <a href="{% url 'submission_refused' submission.pk %}" class="btn btn1 disabled">Refuse</a>
                        {% elif conference.can_accept %}
                            {% if submission.is_waiting %}
                                <a href="{% url 'submission_accepted' submission.pk %}" class="btn btn0">Accept</a>
                                <a href="{% url 'submission_refused' submission.pk %}" class="btn btn1">Refuse</a>
                            {% elif submission.is_accepted %}
                                <p class="btn btn0 disabled">Accepted</p>
                            {% else %}
                                <p class="btn btn1 disabled">Refused</p>
                            {% endif %}
                        {% elif conference.can_confirm %}
                            {% if submission.is_accepted %}
                                <a href="{% url 'submission_confirmed' submission.pk %}" class="btn btn0">Confirm</a>
                            {% elif submission.is_confirmed %}
                                <p class="btn btn0 disabled">Confirmed</p>
                            {% else %}
                                <p class="btn btn1 disabled">Refused</p>
                            {% endif %}
                        {% else %}
                            {% if submission.is_accepted %}
                                <p class="btn btn0 disabled">Accepted</p>
                            {% elif submission.is_confirmed %}
                                <p class="btn btn0 disabled">Confirmed</p>
                            {% else %}
                                <p class="btn btn1 disabled">Refused</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if not conference.can_submit %}
        <h1 style="color: #ff8000" class="text-center">List of accepted submitters</h1>
        <table class="table table-bordered"  align="center" id="users"  >
            <tr>
                <th>username</th>
                <th>Article Name</th>
            </tr>
            {% for submission in submission_list %}
                {% if submission.is_accepted or submission.is_confirmed %}
                    <tr>
                        <td>{{ submission.user }}</td>
                        <td>{{ submission.article_name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
