{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ conference.title }}{% endblock %}

{% block content %}
    <table class="table table-bordered" id="table" align="center">
        <tr>
            <th>Title</th>
            <td>{{ conference.title }}</td>
        </tr>
        <tr >
            <th>Date</th>
            <td>{{ conference.date }}</td>
        </tr>
        <tr>
            <th>Submission deadline</th>
            <td>{{ conference.submission_deadline }}</td>
        </tr>
        <tr>
            <th>Confirmation deadline</th>
            <td>{{ conference.confirmation_deadline }}</td>
        </tr>
        <tr>
            <th>Payment deadline</th>
            <td>{{ conference.payment_deadline }}</td>
        </tr>
        <tr>
            <th>price</th>
            <td>{{ conference.price }}</td>
        </tr>
        <tr>
            <th>place</th>
            <td>{{ conference.place }}</td>
        </tr>
    </table>
    <div class="card mb-3" style="max-width: 540px;" id="container">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body text-center">
                    <h2 class="descreption" > Description </h2>
                    <pre>{{ conference.description }}</pre>
                    {% if conference.organizer != request.user %}
                        {% if conference.can_submit %}
                            <a href="{% url 'submission_create' conference.pk %}" class="btn btn">Submit</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'conference_update' conference.pk %}" class="btn btn">Update</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if request.user == conference.organizer %}
        <table class="table table-bordered"  align="center" id="users"  >
            <tr>
                <th>username</th>
                <th>Article Name</th>
                <th>Abstract</th>
                <th>The Article</th>
                <th>request verification</th>
            </tr>
            {% for submission in submission_list %}
                <tr>
                    <td>{{ submission.user }}</td>
                    <td>{{ submission.article_name }}</td>
                    <td>{{ submission.abstract }}</td>
                    <td>
                        {% if submission.article %}
                            <a href="{{ submission.article.url }}" download="{{ submission.article.url }}">Download</a>
                        {% else %}
                            None Article
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'submission_accepted' submission.pk %}" class="btn btn0 {% if not conference.can_confirm %}disabled{% endif %}"> Accept </a>
                        <a href="{% url 'submission_refused' submission.pk %}" class="btn btn1 {% if not conference.can_confirm %}disabled{% endif %}"> Refuse </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}