{% extends 'base.html' %}
{% load humanize %}
{%load static %}

{% block title %}Home Page{% endblock %}
    {% block style%}
<link rel="stylesheet" href="{% static '/css/home.css' %}">

{% endblock%}


{% block content %}
   <div class="card mb-3" style="max-width: 540px;" id="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title" id="conference">Conference title</h2>         
        <h4 class="card-title" id="date"><i class="fas fa-table"></i> : 2021-9-30</h4>
        <h4 class="card-title" id="org"><i class="fas fa-user"></i> : organizer</h4>
        <p class="card-text">This is a description for this conference </p>
          <a class="btn btn" href="#">Submit</a>
         <a class="btn btn" href="#">Details</a>
       
      </div>
    </div>
  </div>
</div>

 <div class="card mb-3" style="max-width: 540px;" id="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title" id="conference">Conference title</h2>         
        <h4 class="card-title" id="date"><i class="fas fa-table"></i> : 2021-9-30</h4>
        <h4 class="card-title" id="org"><i class="fas fa-user"></i> : organizer</h4>
        <p class="card-text">This is a description for this conference </p>
          <a class="btn btn" href="#">Submit</a>
         <a class="btn btn" href="#">Details</a>
       
      </div>
    </div>
  </div>
</div>

 <div class="card mb-3" style="max-width: 540px;" id="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title" id="conference">Conference title</h2>         
        <h4 class="card-title" id="date"><i class="fas fa-table"></i> : 2021-9-30</h4>
        <h4 class="card-title" id="org"><i class="fas fa-user"></i> : organizer</h4>
        <p class="card-text">This is a description for this conference </p>
          <a class="btn btn" href="#">Submit</a>
         <a class="btn btn" href="#">Details</a>
       
      </div>
    </div>
  </div>
</div>


         
{% endblock %}
