{% extends 'base.html' %}
{% load humanize %}
{%load static %}

{% block title %}Home Page{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}


{% block content %}
    {% for conference in conference_list %}
        <div class="card mb-3" style="max-width: 540px;" id="container">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ conference.image }}" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title" id="conference">{{ conference.title }}</h2>
                        <h4 class="card-title" id="date"><i class="fas fa-table"></i> : {{ conference.date }}</h4>
                        <h4 class="card-title" id="org"><i class="fas fa-user"></i> : {{ conference.organizer }}</h4>
                        {% if conference.organizer == request.user %}
                            <a class="btn btn" href="{% url 'conference_update' conference.pk %}">Update</a>
                            <a class="btn btn" href="{% url 'conference_delete' conference.pk %}">Delete</a>
                        {% else %}
                            <a class="btn btn" href="{% url 'submission_create' conference.pk %}">Submit</a>
                        {% endif %}
                        <a class="btn btn" href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
