{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Notifications{% endblock %}
{% block style%} 
<link rel="stylesheet" href="{% static '/css/notifications.css' %}">
{% endblock%}
{% block content %}
  <div class="card mb-3" style="max-width: 720px;" id="container">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <h1 class="notf"><i class="fas fa-bell"></i>Notifications</h1> 
                    <hr class="badge-info mt-0 w-30">
                    <h5 class="demand">
                        <i class="fas fa-user"></i> ahmed has demand a submition for your conference <a href="#" ><i class="fas fa-trash-alt" id="delete"></i></a> 
                          <hr >
                    </h5>
                   
                     
                    <h5 class="demand">
                        <i class="fas fa-user"></i> amine has demand a submition for your conference <a href="#" ><i class="fas fa-trash-alt" id="delete"></i></a>
                        <hr>
                    </h5>
                     
                </div>
            </div>
        </div>
    </div>
<!--
if no notification 
<h5 style="color:#5F5FB0;" > no notifications now  </h5>
!-->
{% endblock %}
