{% extends 'base.html' %}
{% load humanize %}
{% block title %}Notifications{% endblock %}
{% block content %}
<div class="card mb-3" id="container">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h1 class="notf"><i class="fas fa-bell"></i>Notifications</h1>
                <hr class="badge-info mt-0 w-30">
                {% if notifications %}
                    {% for notification in notifications %}
                        <h5 class="demand">
                            {% if notification.type == 0 %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="col-10">
                                        <a class="not-link" href="{% url 'public_profile' notification.sender.username %}">{{ notification.sender }}</a>
                                         has demand a submission for your conference
                                        <a class="not-link" href="{% url 'conference' notification.conference.pk %}">{{ notification.conference }}</a>
                                    </div>
                                    <div class="col-1">
                                        <a class="delete" href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% elif notification.type == 2 %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="col-10">
                                        <a class="not-link" href="">{{ notification.sender }}</a>
                                         has accepted your demand to submission for
                                        <a class="not-link" href="{% url 'conference' notification.conference.pk %}">{{ notification.conference }}</a>
                                    </div>
                                    <div class="col-1">
                                        <a class="delete" href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% elif notification.type == 3 %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="col-10">
                                        <a class="not-link" href="">{{ notification.sender }}</a>
                                         has refused your demand to submission for
                                        <a class="not-link" href="{% url 'conference' notification.conference.pk %}">{{ notification.conference }}</a>
                                    </div>
                                    <div class="col-1">
                                        <a class="delete" href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% elif notification.type == 4 %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="col-10">
                                        <a class="not-link" href="">{{ notification.sender }}</a>
                                         has confirmed your demand to submission for
                                        <a class="not-link" href="{% url 'conference' notification.conference.pk %}">{{ notification.conference }}</a>
                                    </div>
                                    <div class="col-1">
                                        <a class="delete" href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                        </h5>
                    {% endfor %}
                {% else %}
                    <h2 style="text-align: center">There is no notifications now</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
