{% extends 'base.html' %}
{% load humanize %}
{% block title %}Notifications{% endblock %}
{% block content %}
  <div class="card mb-3" style="max-width: 720px;" id="container">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <h1 class="notf"><i class="fas fa-bell"></i>Notifications</h1> 
                    <hr class="badge-info mt-0 w-30">
                    {% for notification in notifications %}
                        <h5 class="demand">
                            {% if notification.type == 0 %}
                                <i class="fas fa-user"></i> {{ notification.sender }} has demand a submission for your conference {{ notification.conference }} <a href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt" id="delete"></i></a>
                            {% elif notification.type == 2 %}
                                <i class="fas fa-user"></i> {{ notification.sender }} has accepted your demand to submission for {{ notification.conference }} <a href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt" id="delete"></i></a>
                            {% elif notification.type == 3 %}
                                <i class="fas fa-user"></i> {{ notification.sender }} has refused your demand to submission for {{ notification.conference }} <a href="{% url 'notification_delete' notification.pk %}" ><i class="fas fa-trash-alt" id="delete"></i></a>
                            {% endif %}
                            <hr>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!--
if no notification 
<h5 style="color:#5F5FB0;" > no notifications now  </h5>
!-->
{% endblock %}
