{% extends 'base.html' %}
{% load humanize %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h1>Notifications</h1>
    <div>
        {% for notification in notification_list %}
            {% if notification.type == 1 %}
                <p>
                    {{ notification.sender.username }} has demand to subscribe to {{ notification.conference.title }}
                </p>
            {% elif notification.type == 2 %}
                <p>
                    {{ notification.sender.username }} has has accept your demand in {{ notification.conference.title }}
                </p>
            {% else %}
                <p>
                    {{ notification.sender.username }} has refused your demand in {{ notification.conference.title }}
                </p>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
